<!DOCTYPE HTML>
<html>
  <head>
    <title>Shogi Recognizer Dataset Annotator</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
  </head>
  <body>
    <h1>Stats</h1>
    {{stats_html}}

    <h1>Annotator</h1>
    <div>
        <button id="btn_prev">Prev</button>
        <button id="btn_next">Next</button> |
        <button id="btn_all">Load All</button>
        <button id="btn_uncertain_corners">Load Uncertain Corners</button>
        <div id="nav_status"></div>
    </div>

    <div id="the_editor">
        <canvas class="editor_main"></canvas>
        <br/>
        <button class="editor_lgtm">Looks Good To Me</button>
        <pre class="editor_info"></pre>
    </div>

    <h1>Photos</h1>
    {{photos_html}}

    <script src="/static/annotation.js"></script>
  </body>
</html>